version: '3.7'

services:
  regression:
    image: ui-tests:local
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/workspace
    working_dir: /usr/workspace
    command: /bin/sh -c "ls -la && pytest -sv --alluredir=allure-results --clean-alluredir"
    environment:
      - LOGIN=${LOGIN}
      - PASSWORD=${PASSWORD}
