services:
  regression:
    image: front-framework-ui:latest
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/workspace
    volumes:
      - ./:/usr/workspace
    environment:
      LOGIN: ${LOGIN}
      PASSWORD: ${PASSWORD}
    user: "${UID:-0}:${GID:-0}"
    shm_size: "2gb"
    command: >
      sh -lc "
        mkdir -p /usr/workspace/allure-results &&
        pytest -m regression --alluredir=/usr/workspace/allure-results
      "

  allure:
    image: front-framework-ui:latest
    working_dir: /usr/workspace
    volumes:
      - ./:/usr/workspace
    user: "${UID:-0}:${GID:-0}"
    command: >
      sh -lc "
        rm -rf /usr/workspace/allure-report &&
        mkdir -p /usr/workspace/allure-report &&
        allure generate /usr/workspace/allure-results --clean -o /usr/workspace/allure-report &&
        touch /usr/workspace/allure-report/.nojekyll
      "
